:root{
    --black: #000000;
    --burgundy: #6A1840;
    --burgundyl: #972A5F;
    --burgundyd: #581837;
    --grey: #B1B3B3;
    --white: #FFFFFF;
    --greyb: #e2e2e2;
    --greybutton: #BDBDBD;
    --greyl: #FAFAFA;
    --greym: #f0f0f0;
    --greyabout: #f1f1f1;
    --greycircle: #b7b7b7;
    --greydark: #0E0E0E;
    --pink: #F6E6EB;
    --greybg: #EFEFEF;
}