@media (min-width: 1441px){
  .rdi-listing{
    li{
      width: 400px;
      &:nth-child(2){
        &::after{
          right: -41%;
        }
      }
      &:nth-child(3){
        left: calc( 50% - 200px);
        &::after{
          top: -65%;
          left: 14%;
        }
      }
      &:nth-child(4){
        &::after{
          left: -53%;
        }
      }
      &:nth-child(5){
        &::after{
          left: -41%;
        }
      }
    }
  }
}
// commun Styles between Large and Extra Large devices
@media (min-width: 992px) and (max-width: 1440px){
    .navbar-nav{
        font-size: 0.825rem;
    }
    
}


// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) and (max-width: 1440px){
    
}
@media (min-width: 1200px) and (max-width: 1300px){
  .line1 {
    right: -10%;
    top: 39%;
    transform: rotate(-30deg) scale(0.9);
}
.line2 {
  right: -10%;
  top: 55%;
  transform: rotate(30deg) scale(0.9);
}
.m-end{
  margin-right: 0;
}
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px){
    .navbar-nav{
        font-size: 0.625rem;
    }
    .m-end{
        margin-right: 0;
    }

    .line1 {
      right: -18%;
    top: 37%;
    transform: rotate(-55deg);
  }
  .line2 {
    right: -18%;
    top: 66%;
    transform: rotate(55deg);
}
.title {
  font-size: 2.3rem!important;
  line-height: 2.3rem!important;
}
.fs-18{
  font-size: 1rem!important;
}
.text-wrapper{
  top: 13%;
 }

}


// Comon mobile & Tablet
@media (min-width: 100px) and (max-width: 1000px){
    .display-none{
      display: none;
    }
    .navbar-collapse {
        position: fixed;
        top: 94px;
        left: 0;
        width: 100%;
        padding: 0 20px;
        background-color: #ffffff;
        z-index: 10;
        height: calc(100vh - 94px);
        overflow-y: scroll;
    }
    .mySwiper{
        margin-left: 0px;
    }
    .vertical-bar{
        display: none;
    }
    .m-left{
        margin-left: 0;
    }
   
    .swiperTop .swiper-slide.activeTop{
        display: block;
    }
    .swiperThumbs {
        margin-left: 0;
    }
    .swiperThumbs .swiper-slide{
      width: 100%;
  }
  
  .swiperThumbs .swiper-slide:nth-child(2n) {
      width: 100%;
  }
  
  .swiperThumbs .swiper-slide:nth-child(3n) {
    width: 100%;
  }
  .swiperThumbs .swiper-slide.swiper-slide-thumb-active{
      width: 100%;
  }
    .message{
        margin-left: 0;
        padding: 0;
        text-align: center;
       }
    .swiper-text{
        padding: 0;
        margin: 0;
        width: 90%;
        font-size: 2rem!important;
        line-height: 2rem!important;
    }
    .vector1-hero, .vector2-hero{
     display: none;
  }

    .arrow-mobile{
        display: block;
    }
    .main{
        width: 100%;
        margin-left: 0;
    }
    .images-wrapper{
        width: 100%;
    }
   
    .m-end{
        margin-right: 0;
    }
    .rect{
        display: none;
    }
    .transparent-button{
        width: 100%;
    }
    .twentythirty{
        font-size: 180px;
    }
    .burgundy-button{
        width: 100%!important;
      }
    .innovation-image{
        margin-top: 50px;
    img{
        width: 100%;

    }
    }
    .rdi-image{
        position: relative;
        transform: scale(1.8);
        transform-origin: right;
    }
    
    .swiper-pagination{
        left: 0;
        top: 40px;
        width: 100%;
    }
    .swiper-button-prev {
        left: calc(50% - 29px);
        transform: translateX(-50%);
      }
      
      .swiper-button-next {
        left: auto;
        right: calc(50% - 78px);
        transform: translateX(-50%);
      }
      .swiper-button{
        width: 95%;
        margin-top: 100px;
      }
      .section{
        height: auto;
        min-height: 100vh;
        &#whatsnew{
            min-height: auto; 
        }
      }
      .partners-sect{
        height: auto;
        min-height: auto;
      }
      .vector-image{
        transform: translate(0)!important;
        top: -2px;
        left: -15px;
       }
       .vector-image2{
        transform: translate(0)!important;
        top: 86%;
        right: -13px;
       }
       .vc1{
        transform: translate(0)!important;
       }
       .vc2{
        transform: translate(0)!important;
       }
       .vc9{
        transform: translate(0)!important;
       }
     
       footer{
        width: 100%;
       padding-left: 0;
       }
       .w-45{
        width: 100%;
    }
    .member-data{
        width: auto;
      }
      .member-img{
        width: 100%;
        height: auto;
      }
      .w-30{
        width: 100%;
      }
      .geo1{
        display: none;
        transform: none!important;
        margin-bottom: 0!important;
      }
      .geo2{
        display: none;
        transform: none!important;
        margin-bottom: 0!important;
     }
     .search-form{
        position: relative;
        height: auto;
     }
     .search-button-remove{
        display: none;
     }
     .social{
        margin-left: auto;
        margin-right: auto;
        border: none;
     }
     .footer-content{
        width: 100%;
     }
     .tab-first-part{
        border: none;
     }
     .desktop-version{
        display: none;
     }
     .mobile-version{
        display: block;
     }
     .accordion-item{
        border: none;
        .accordion-header{
          a{
            color: black;
            &.collapsed{
                opacity: 0.3;
            }
           
          }  
        }
      }
      .hr-mobile{
        width: 95%;
        padding-bottom: 0;
        background-color: #C5C5C5;
      }
      .description{
        width: 100%;
      }
      .social{
        width: 100%;
        .social-icon{
            width: 9%;
        
        }
        .vertical-list{
          li{
            display: inline;
            margin-top: 20px;
            &.logo{
                width: 80%;
                display: block;
                margin-top: 0;
                margin-bottom: 30px;
            }
          }
        }
      }
      nav{
        .pagination{
          li{
            position: relative!important;
          }
        }
      }
      .info-card{
        position: relative;
        margin-bottom: 50px;
        right: auto;
        left: calc(50% - 107px);
      }
      .py-120{
        padding-top: 60px;
        padding-bottom: 60px;  
    }
    .py-120-bottom{
      padding-bottom: 0px;
  }
    .black-overlay{
      &.inside-section{
        display: none;
      }
    }
    .white-txt{
      h1,p{
        color: #000000;
      }
    }
      .ar{
        .tab-first-part {
          border: none;
      }
        .line1{
          bottom: 14%;
          left: calc(50% - 165px);
          transform: rotate(121deg); 
          top: auto;
          right: auto;
        }
        .line2{
          bottom: 14%;
          left: calc(50% - 58px);
          transform: rotate(58deg);
          top: auto;
          right: auto;
        }
        .main{
            margin-right: 0;
            margin-left: 0;
          }
          .swiper-button-next{
            right: calc(50% - 5px);
          }
          .swiper-button-prev{
            right: calc(50% - 59px);
            left: auto;
          }
          .swiper-pagination{
            right: 0;
            text-align: center;
            }
          .swiper-text{
            margin-right: 0;
            padding-right: 0;
          }
          .swiperThumbs{
            margin-right: 0;
          }
          .m-end{
            margin-right: 0;
            margin-left: 0;
          }
          .vc1{
            transform: translate(0)!important;
            top: 0;
           }
           .vc2{
            transform: translate(0)!important;
            top: 75%;
           }
          .rdi-listing{padding-right: 0;}
          .rdi-listing li:nth-child(3) {
            left: auto;
        }
          
      }
      .partner-subtitle{
        width: 100%;
      }
      .display-1{
        font-size: 3.2rem !important;
        line-height: 1;
    }
    .vision-card{
      text-align: center;
      img{
        width: 100%;
        max-width: 110px;
      }
    }
    .line1{
      bottom: 14%;
      left: calc(50% - 165px);
      transform: rotate(121deg); 
      top: auto;
      right: auto;
    }
    .line2{
      bottom: 14%;
      left: calc(50% - 58px);
      transform: rotate(58deg);
      top: auto;
      right: auto;
    }
    .rdi-listing{
      position: relative;
      padding-left: 0;
      li{
        width: 100%;
        position: relative;
        margin-bottom: 50px;
        &:nth-child(1),&:nth-child(2),&:nth-child(3),&:nth-child(4),&:nth-child(5){
          top: auto;
          bottom: auto;
          left: auto;
          right: auto;
        }
        &::after{
          display: none;
        }
      }
    }
    .vc4{
      top: 84%;
     }
     .vision-card{
      height: 100%;
     }
     .first-fold{
      height: calc(100vh - 94px);
      min-height: calc(100vh - 94px);
      .img-wrapper{
        height: calc(100vh - 94px);
      }
     }
    hr{
      &.inside{
        display: none;
      }
    }
    .chain{
      width: 100%;
    }
    .title{
      font-size: 2rem!important;
      line-height: 2rem!important;
    }
    .height-auto{
      min-height: auto;
    }
    .overflow-x-scroll{
      overflow-x: scroll;
      overflow-y: hidden;
    }
   .swiper-text{
    font-size: 1.5rem!important;
    line-height: 1.5rem!important;
   }
   .w-75{
    width: 100%!important;
   }
   .bg-img-relative{
    height: 185px;
    overflow: hidden;
   }
   .chairman-img-wrapper{
    height: 500px;
   }
   .img-flex-wrapper{
    flex: 1;
    display: flex;
    overflow: auto;
    flex-wrap:nowrap;
  }
  .valueAllControls{
    bottom: -32px;
  }
  .rdi-img-wrapper-mob{
    height: 150px;
    img{
      width: 80%;
    }
  }
  .first-fold-content{
    .display-1{
      font-size: 2.2rem!important;
    }
    .fs-24{
      font-size: 0.875rem!important;
    }
  }
  .qrdi-map{
    width: 100%;
    height: auto;
  }
  .swiper-wrapper{
    .fs-12{
      font-size: 1.2rem!important;
      line-height: 1.5;
    }
  }
  
}



// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px){
    .map{
        width: 60%!important;
    }
    .text-wrapper{
      top: 13%;
     }
     .swiper-text{
      font-size: 2rem!important;
      line-height: 2rem!important;
     }
     

}
@media (min-width: 768px) and (max-width: 820px){
.swiper-text {
    font-size: 3rem!important;
    line-height: 3rem!important;
}
.swiper-wrapper{
  .fs-12{
    font-size: 2rem!important;
    line-height: 1.5;
  }
}
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 378px){
    
        .swiper-text{
            padding: 0;
            margin: 0;
            width: 80%;
            font-size: 1.5rem!important;
            line-height: 2rem!important;
        }
        .twentythirty{
            font-size: 10rem;
        }
    
        .twentythirtyvision{
            padding: 80px 5px;
        }
}
